Repository kbumsik/slurm-exporter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, push

build:
  image: docker:27.3.0
  services:
  - docker:27.3.0-rc.1-dind
  before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - apk update && apk upgrade
  - apk add --no-cache git go helm
  - export PATH=$PATH:$HOME/go/bin/
  ...

push:
  image: docker:27.3.0
  services:
  - docker:27.3.0-rc.1-dind
  before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - apk update && apk upgrade
  - apk add --no-cache git go helm
  - export PATH=$PATH:$HOME/go/bin/
  ...

ci: move secret detection job
  .gitlab-ci.yml
Due: none

ci: add tag, branch release jobs
  .gitlab-ci.yml
Due: none

chore: add release 0.2.0 section
  CHANGELOG.md
Due: none

fix: default tag to version, not appVersion
  CHANGELOG.md
  helm/slurm-exporter/README.md
  helm/slurm-exporter/templates/_helpers.tpl
  helm/slurm-exporter/values.yaml
Due: push

ci: one step OCI package release
  .gitlab-ci.yml
  Makefile
Due: none

chore: upgrade slurm-client to 0.2.0
  go.mod
  go.sum
Due: build, push

chore: upgrade slurm-client to 0.2.1
  go.mod
  go.sum
Due: build, push

chore: update to 0.3.0
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  helm/slurm-exporter/Chart.yaml
  helm/slurm-exporter/README.md
Due: push

ci: fix add bash to run makefile targets
  .gitlab-ci.yml
Due: none

feat: Add slurm_node_job_info
  internal/exporter/exporter.go
Due: none

feat: Add test cases
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
Due: none

feat(vscode): Update task.json to use scontrol to get JWT
  .vscode/tasks.json
Due: none

Path conditions:
  build: any of: Dockerfile, ./**/*.go, go.mod, go.sum
  push: any of: Dockerfile, ./**/*.go, go.mod, go.sum, helm/**/*
